UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
VAPID_PUBLIC_KEY= BLIBpi7XfhJN6ZBNXaimHvjZC8XT1SK1QqmDTYutXvdOaXbJEDR3uh-xj7dJ8P3dTmZk4V94lQEz8Ye9ZWLOMJg
VAPID_PRIVATE_KEY= WDOTGLqBmas40AUODt4qwDTDDfxrwH7DS0gtUi3-VzU
VAPID_SUBJECT=mailto:engineervaultnep@gmail.com
PUSH_ADMIN_TOKEN= engineervaultnep@gmail.com
